pytorch-lightning==2.1.2
gradio==3.41.2
huggingface-hub
einops
omegaconf
torchmetrics
webdataset
accelerate
tensorboard==2.16.2
PyMCubes
trimesh==4.3.1
rembg
transformers==4.34.1
diffusers==0.20.2
bitsandbytes
imageio[ffmpeg]
xatlas
plyfile==1.0.3
nvdiffrast @ git+https://github.com/NVlabs/nvdiffrast/